
@{
    Layout = "_Layout";
    ViewBag.Title = "Index";
}

<div>Je suis la vue index</div>
<h3>Vente en ligne</h3>

            <ul>          
                <li>@Html.ActionLink("Vos catalogues de produits", "Index", "Cata" )</li>
                <li>@Html.ActionLink("Vos produits", "Index", "Product")</li>
            </ul> 
